{% extends 'base.html.twig' %}

{% block title %}Accueil - Matcha Bloom{% endblock %}

{% block body %}
<!--Section Hero -->
<div class="flex flex-col w-full min-h-screen">
    <section class="flex justify-center bg-hero bg-footer-text min-h-screen bg-cover top-0 relative">
        <div class="flex flex-col justify-center items-center gap-10 mb-64">
            <h1 class="text-text font-bold lg:text-5xl text-2xl">Savourez l'instant, infusé avec passion</h1>
            <a href="{{ path('app_menu') }}" aria-label="Bouton pour aller à la page du menu du restaurant" class="text-btn-light font-bold text-2xl p-4 bg-pink-watermelon hover:bg-matcha-accent hover:text-grey-lavender rounded-xl">Découvrir notre carte</a>
        </div>
    </section>
    <!-- History Salon -->
    <section class="flex flex-col justify-center items-center mx-10 my-12 gap-5 py-10">
        <h2 class="text-matcha font-bold lg:text-4xl text-2xl mb-12">Notre histoire</h2>
        <div class="flex flex-row">
            <div class="grid grid-cols-4 gap-3 h-auto items-start">
                <!-- Image 1 : Grande image à gauche -->
                <img src="{{ asset('images/couple-windows-salon.webp') }}" 
                    alt="Intérieur du salon de thé Matcha Bloom" 
                    class="w-full h-full object-cover rounded-lg col-span-1 row-span-2">

                <!-- Colonne de droite avec deux images empilées -->
                <div class="grid grid-rows-1 gap-8">
                    <img src="{{ asset('images/person-green-matcha-tea-cup.webp') }}" 
                        alt="Détail tasse matcha" 
                        class="w-full h-full object-cover rounded-lg">
                    <img src="{{ asset('images/person-green-matcha-tea-cup.webp') }}" 
                        alt="Détail tasse matcha" 
                        class="w-full h-full object-cover rounded-lg">
                </div>
                <!-- Paragraphe à droite -->
                <div class="col-span-2 mx-7 gap-4">
                    <p class="text-text text-xl leading-relaxed">
                        Découvrez notre salon de thé Matcha Bloom, un lieu chaleureux où déguster 
                        des thés raffinés et savourer des instants de détente en toute sérénité. 
                    </p>
                    <p class="text-text text-xl leading-relaxed">
                        Tea garden yerba maté tea kettle loose leaf tea garden oolong antioxidant 
                        tea garden darjeeling rize tea time hot steep earl grey nepal. Focus teapot 
                        shrub latte iced nilgiri zen matcha guayusa aromatic taro yerba maté focus green oolong. 
                        Brew shoumei lemongrass blend sachet gaiwan hojicha tea time antioxidant antioxidant baihao 
                        yinzhen scented turmeric lychee. Shrub keemun baihao yinzhen energy taro boba iced caffeine shrub bai mudan. 
                        Masala chai kombucha infuser rooibos boba boba tea zen antioxidant green masala chai theanine ginger.
                    </p>
                    <p class="text-text text-xl leading-relaxed my-4">
                        Energy hojicha shincha catechin camellia sinensis zen rooibos london fog herbal lapsang souchong 
                        teacup yixing rize energy. Bamboo whisk guayusa blend teacup tea kettle pearl milk genmai jasmine 
                        chamomile loose leaf herbal teahouse london fog. Kombucha irish breakfast kukicha loose leaf fair 
                        trade scented yixing sachet sachet black fermentation.
                        Brew shoumei lemongrass blend sachet gaiwan hojicha tea time antioxidant antioxidant baihao 
                        yinzhen scented turmeric lychee. Shrub keemun baihao yinzhen energy taro boba iced caffeine shrub bai mudan. 
                        
                    </p>
                    <div class="my-7">
                        <a href="{{ path('app_salon_tea') }}" aria-label="Bouton pour aller à la page de l'histoire du salon Matcha Bloom" class="text-matcha-accent font-bold text-xl p-4 border border-1 border-matcha-accent hover:border-none hover:border-0 hover:bg-matcha-accent hover:text-btn-light rounded-xl">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- Section Product --> 
<!-- TODO à voir pour le back-office sans bdd -->
    <section class="my-12">
        <div class="flex flex-col justify-center items-center mx-10 gap-5 py-10">
            <h2 class="text-matcha font-bold lg:text-4xl text-2xl mb-4">Produits populaires</h2>
            <div class="flex flex-wrap flex-row justify-center">
                <!-- Product 1 -->
                <div class="relative flex flex-col justify-center items-center group overflow-hidden rounded-lg">
                    <img src="{{ asset('images/product-matcha-latte.svg') }}" 
                        alt="Tasse de thé matcha avec du lait" 
                        class="w-96 h-96 object-cover rounded-lg transform transition-transform duration-300 group-hover:scale-150">
                    <h3 class="font-bold text-2xl group-hover:hidden">Matcha Latte</h3>
                    <!-- Overlay qui apparaît au survol -->
                    <div class="absolute inset-0 text-text-light bg-pink-watermelon bg-opacity-90 flex flex-col justify-center items-center text-center text-white opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                        <h3 class="font-bold lg:text-4xl text-2xl mb-2">Matcha Latte</h3>
                        <p class="lg:text-xl text-lg px-4">Un délicieux thé matcha mélangé avec du lait pour une texture onctueuse et réconfortante.</p>
                    </div>
                </div>

                <!-- Product 2 -->
                <div class="relative flex flex-col justify-center items-center group overflow-hidden rounded-lg">
                    <img src="{{ asset('images/product-matcha-donuts.svg') }}" 
                        alt="Assiette de donuts au matcha" 
                        class="w-96 h-96 object-cover rounded-lg transform transition-transform duration-300 group-hover:scale-150">
                    <h3 class="font-bold text-2xl group-hover:hidden">Matcha Donuts</h3>
                    <!-- Overlay qui apparaît au survol -->
                    <div class="absolute inset-0 text-text-light bg-matcha-accent bg-opacity-90 flex flex-col justify-center items-center text-center text-white opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                        <h3 class="font-bold lg:text-4xl text-2xl mb-2">Matcha Donuts</h3>
                        <p class="lg:text-xl text-lg px-4">Boba fair trade steep kombucha gyokuro teacup scented kukicha lychee sachet brew orange pekoe scented turmeric energy.</p>
                    </div>
                </div>

                <!-- Product 3 -->
                <div class="relative flex flex-col justify-center items-center group overflow-hidden rounded-lg">
                    <img src="{{ asset('images/product-matcha-fraise.svg') }}" 
                        alt="Tasse de thé matcha avec du lait et de la fraise" 
                        class="w-96 h-96 object-cover rounded-lg transform transition-transform duration-300 group-hover:scale-150">
                    <h3 class="font-bold text-2xl group-hover:hidden">Matcha Fraise</h3>
                    <!-- Overlay qui apparaît au survol -->
                    <div class="absolute inset-0 text-text-light bg-yellow-sun-dark bg-opacity-90 flex flex-col justify-center items-center text-center text-white opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                        <h3 class="font-bold lg:text-4xl text-2xl mb-2">Matcha Fraise</h3>
                        <p class="lg:text-xl text-lg px-4">Boba fair trade steep kombucha gyokuro teacup scented kukicha lychee sachet brew orange pekoe scented turmeric energy.</p>
                    </div>
                </div>

                <!-- Product 4 -->
                <div class="relative flex flex-col justify-center items-center group overflow-hidden rounded-lg">
                    <img src="{{ asset('images/product-matcha-cookies.svg') }}" 
                        alt="Assiette de cookies au matcha" 
                        class="w-96 h-96 object-cover rounded-lg transform transition-transform duration-300 group-hover:scale-150">
                    <h3 class="font-bold text-2xl group-hover:hidden">Matcha Cookies</h3>
                    <!-- Overlay qui apparaît au survol -->
                    <div class="absolute inset-0 text-text-light bg-grey-lavender-dark bg-opacity-90 flex flex-col justify-center items-center text-center text-white opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                        <h3 class="font-bold lg:text-4xl text-2xl mb-2">Matcha Cookies</h3>
                        <p class="lg:text-xl text-lg px-4">Boba fair trade steep kombucha gyokuro teacup scented kukicha lychee sachet brew orange pekoe scented turmeric energy.</p>
                    </div>
                </div>

                <!-- Product 5 -->
                <div class="relative flex flex-col justify-center items-center group overflow-hidden rounded-lg">
                    <img src="{{ asset('images/product-matcha-origin.svg') }}" 
                        alt="Tasse de thé matcha recette original" 
                        class="w-96 h-96 object-cover rounded-lg transform transition-transform duration-300 group-hover:scale-150">
                    <h3 class="font-bold text-2xl group-hover:hidden">Matcha Original</h3>
                    <!-- Overlay qui apparaît au survol -->
                    <div class="absolute inset-0 text-text-light bg-matcha-accent bg-opacity-90 flex flex-col justify-center items-center text-center text-white opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                        <h3 class="font-bold lg:text-4xl text-2xl mb-2">Matcha Original</h3>
                        <p class="lg:text-xl text-lg px-4">Boba fair trade steep kombucha gyokuro teacup scented kukicha lychee sachet brew orange pekoe scented turmeric energy.</p>
                    </div>
                </div>

                <!-- Product 6 -->
                <div class="relative flex flex-col justify-center items-center group overflow-hidden rounded-lg">
                    <img src="{{ asset('images/product-matcha-cocktail.svg') }}" 
                        alt="Verre de cocktail au matcha" 
                        class="w-96 h-96 object-cover rounded-lg transform transition-transform duration-300 group-hover:scale-150">
                    <h3 class="font-bold text-2xl group-hover:hidden">Matcha Cocktail</h3>
                    <!-- Overlay qui apparaît au survol -->
                    <div class="absolute inset-0 text-text-light bg-grey-lavender-dark bg-opacity-90 flex flex-col justify-center items-center text-center text-white opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                        <h3 class="font-bold lg:text-4xl text-2xl mb-2">Matcha Cocktail</h3>
                        <p class="lg:text-xl text-lg px-4">Boba fair trade steep kombucha gyokuro teacup scented kukicha lychee sachet brew orange pekoe scented turmeric energy.</p>
                    </div>
                </div>

                <!-- Product 7 -->
                <div class="relative flex flex-col justify-center items-center group overflow-hidden rounded-lg">
                    <img src="{{ asset('images/product-matcha-cheesecake.svg') }}" 
                        alt="Assiette de cheesecake au matcha" 
                        class="w-96 h-96 object-cover rounded-lg transform transition-transform duration-300 group-hover:scale-150">
                    <h3 class="font-bold text-2xl group-hover:hidden">Matcha Cheesecake</h3>
                    <!-- Overlay qui apparaît au survol -->
                    <div class="absolute inset-0 text-text-light bg-pink-watermelon bg-opacity-90 flex flex-col justify-center items-center text-center text-white opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                        <h3 class="font-bold lg:text-4xl text-2xl mb-2">Matcha Cheesecake</h3>
                        <p class="lg:text-xl text-lg px-4">Un délicieux thé matcha mélangé avec du lait pour une texture onctueuse et réconfortante.</p>
                    </div>
                </div>

                <!-- Product 8 -->
                <div class="relative flex flex-col justify-center items-center group overflow-hidden rounded-lg">
                    <img src="{{ asset('images/product-matcha-rolls.svg') }}" 
                        alt="Assieste de rolls au matcha" 
                        class="w-96 h-96 object-cover rounded-lg transform transition-transform duration-300 group-hover:scale-150">
                    <h3 class="font-bold text-2xl group-hover:hidden">Matcha Rolls</h3>
                    <!-- Overlay qui apparaît au survol -->
                    <div class="absolute inset-0 text-text-light bg-yellow-sun-dark bg-opacity-90 flex flex-col justify-center items-center text-center text-white opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                        <h3 class="font-bold lg:text-4xl text-2xl mb-2">Matcha Rolls</h3>
                        <p class="lg:text-xl text-lg px-4">Boba fair trade steep kombucha gyokuro teacup scented kukicha lychee sachet brew orange pekoe scented turmeric energy.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
