{% extends 'base.html.twig' %}

{% block title %}Contact - Formulaire pour contacter de Matcha Bloom{% endblock %}

{% block body %}
<!--Section History -->
<div class="flex flex-col w-full max-w-full min-h-screen">
    <section class="flex justify-center bg-all-page bg-footer-text lg:bg-contain bg-fill bg-right-top bg-w-full relative">
        <div class="flex lg:flex-row flex-col justify-center items-center flex-wrap gap-x-96 my-24 ">
            <h2 class="text-text font-bold lg:text-4xl text-2xl lg:me-56">Nous contacter</h2>
            <img src="{{ asset('images/contact-icon.webp') }}" 
                alt="icône d'une enveloppe avec des feuilles" 
                aria-hidden="true"
                class="w-48 h-auto object-fill">
        </div>
    </section>

    <section>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.email) }}
        {{ form_row(form.message) }}
        {{ form_row(form.submit) }}
    {{ form_end(form) }}
    </section>
</div>
{% endblock %}
