<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Nouveau message de {{ name }}</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                background-color: #f7f7f7;
                margin: 0;
                padding: 0;
            }
            h1 {
                color: #4CAF50; /* Couleur matcha, tu peux ajuster selon ton thème */
                font-size: 24px;
                font-weight: bold;
            }
            p {
                font-size: 14px;
                line-height: 1.5;
                margin-bottom: 10px;
            }
            .form-label {
                font-weight: bold;
                font-size: 18px; /* Equivalent de text-lg */
                color: #333333; /* Couleur personnalisée text-text */
            }
            .form-input {
                font-size: 18px; /* Equivalent de text-lg */
                color: #333333; /* Couleur personnalisée text-text */
                font-weight: bold;
                width: 100%; /* Equivalent de w-full */
                border: 2px solid #E2D9F1; /* Couleur personnalisée border-grey-lavender */
                border-radius: 4px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Equivalent de shadow-lg */
                padding: 10px;
                margin-top: 5px;
            }
            .container {
                width: 100%;
                max-width: 600px;
                margin: 0 auto;
                padding: 20px;
                background-color: #ffffff;
                border-radius: 8px;
                box-shadow: 0 0 10px rgba(0,0,0,0.1);
            }
            .name {
                text-transform:uppercase;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>Nouveau message de <span class="name">{{ name }}</span></h1>
            <p class="form-label">Nom:</p>
            <p class="form-input">{{ name|nl2br }}</p>
            <p class="form-label">Email:</p>
            <p class="form-input">{{ sender_email|nl2br }}</p>
            <p class="form-label">Message:</p>
            <p class="form-input">{{ message|nl2br }}</p>
        </div>
    </body>
</html>