{% extends 'back/backoffice.html.twig' %}

{% block title %}Hello HomeProductsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
{% for currentFavoriteProducts in favoriteProducts %}
    <p> {{ currentFavoriteProducts.name }} </p>
    <p> {{ currentFavoriteProducts.description }} </p>
    <img src="{{ asset(currentFavoriteProducts.image) }}" alt="Image du produit" class="max-w-xs rounded shadow"> {{ currentFavoriteProducts.image }} </p>
    <a href="{{path ('app_back_favorite_product_show', {id: currentFavoriteProducts.id})  }}"> Consulter la fiche du produit </a>
    <a href="{{path ('app_back_favorite_product_update', {id: currentFavoriteProducts.id})  }}"> Modifier la fiche du produit </a>
    <hr>
{% endfor %}
</div>
{% endblock %}
