{% extends 'back/backoffice.html.twig' %}

{% block title %}Produit vedette{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1 class="text-xl font-bold mb-4">Fiche du produit {{ oneFavProduct.name }}</h1>

    <p><strong>Nom :</strong> {{ oneFavProduct.name }}</p>
    <p><strong>Description :</strong> {{ oneFavProduct.description }}</p>

    {% if oneFavProduct.image %}
        <p><strong>Image :</strong></p>
        <img src="{{ asset(oneFavProduct.image) }}" alt="Image du produit" class="max-w-xs rounded shadow">
    {% else %}
        <p><em>Aucune image disponible</em></p>
    {% endif %}
    <a href="{{path ('app_back_favorite_product_list') }}"> Retour à la liste </a>
</div>
{% endblock %}